#navigation {
    width: 70%;
    margin: auto;
    text-align: left;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: cornflowerblue;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: white;
}

#book1, #book2, #book3, #book4 {
    display: inline-flex;
    align-items: flex-start;
    width: 600px;
    height: 400px;
    border: 1px solid gold;
    padding: 10px;
    margin: 10px;
}

#book1 img, #book2 img, #book3 img, #book4 img {
    width: 250px;
    margin-right: 15px;
}

#text1, #text2, #text3, #text4 {
    font-size: 16px;
    display: block;
    margin: 0;
}

#text1 strong, #text2 strong, #text3 strong, #text4 strong {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

#book1 div,
#book2 div,
#book3 div,
#book4 div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#book1 p,
#book2 p,
#book3 p,
#book4 p {
    flex-grow: 1;
}

#book1 ul,
#book2 ul,
#book3 ul,
#book4 ul {
    align-self: flex-end;
    margin-top: 10px;
}

#payment-form {
    background-color: lightgray;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 3px;
}

small {
    color: dimgray;
    font-size: 12px;
}

#continue-button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    width: 100%;
}

#continue-button:hover {
    background-color: cornflowerblue;
}
